<p>
  <b>Name:</b>
  <%=h @project.name %>
</p>

<p>
  <b>Description:</b>
  <%= RedCloth.new(@project.description).to_html %>
</p>

<p>
  <b>Parent:</b>
  <%=h @project.parent %>
</p>

<p>
  <b>Links:</b>
  <%= RedCloth.new(@project.links).to_html %>
</p>

<p>
  <b>Members:</b>
  <%= RedCloth.new(@project.members).to_html %>
</p>


<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
